.receipts{
  position: relative;
  padding-bottom: 30px;

  .floating-window {
    max-width: 200px;
    top: 70px;
    right: calc(50% - 100px);

    .tab{ display: block}

    .tab-container {
      flex-direction: column;
    }
  }
}


@media (min-width: 767px) {
  .receipts{
    .floating-window{
      top: 40px;
      right: calc(50% - 370px);
    }
    .tab:nth-child(1){
      display: block;
    }
    .tab:nth-child(2){
      display: block;
    }
  }
  .receipts__content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-receipts {
    gap: 0 13.5px;

    li {
      font-weight: 400;
      font-size: 13px;
      line-height: 26px;
      &:nth-child(4) {
        display: block;
      }

    }
  }
}

@media (min-width: 1439px) {
  .tab:last-child {
    display: none !important;
  }
  .tab:not(:last-child) {
    display: block !important;
  }
  .receipts__content-top {
    justify-content: flex-start;
    gap: 0 94px;
  }

  .menu-receipts {
    gap: 0 40px;

    li {
      &:nth-child(5) {
        display: block;
      }
    }
  }
}