
.clear-icon{
  width: 22px;
  height: 24px;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  &:hover {
    opacity: 0.8;
  }
}

.header__search .floating-window{
  top: 20px;
  right: -70px;
}


